{% extends "skeleton.html" %}

{% block title %} Accounts{% endblock %}

{% block head %}{% endblock %}

{%block header%}
    Accounts
{%endblock%}

{% block body %}

  <section class="container">
    <div class="row">
      <button class="btn btn-primary tablinks" onclick="changeTab(event, 'main')">Main</button>
      <button class="btn btn-primary tablinks" onclick="changeTab(event, 'history')">History</button>
    </div>
    <hr>
  </section>

	<section class="container" >
    <div class="tabcontent" id="main">

      <h1 style="text-align:center">Debit Balance</h1>
      <h5 style="text-align:center">$
        {% for row in debit %}
          {{row[0]}}
        {% endfor %}
      </h5>


      <div class = "row text-center" id="startTransfer">
        <button class="btn btn-primary" id="btnTransfer">Make Transfer</button>
      </div>
      
      <hr>

      <h1 style="text-align:center">Your Cards</h1>
      <table>
        <tr>
          <td>
            
          </td>
        </tr>
        {% for row in credit %}
          <tr>
        {% for c in row %}
            <td>{{ c }}</td>
        {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br>

      <hr>

      <h1 style="text-align:center">Your Savings Accounts</h1>
      <table>
        {% for row in savings %}
          <tr>
        {% for s in row %}
            <td>{{ s }}</td>
        {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br>

      <hr>
    </div>
  </section>

  <section class="container">
    <div class="tabcontent" id="history" style="display:none">
      <h1 style="text-align:center">Transaction History</h1>

      <table>
        {% for row in hist %}
          <tr>
        {% for h in row %}
            <td>{{ h }}</td>
        {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br>
    </div>
  </section>

  <!--External JavaScript-->
  <script type="text/javascript" src="{{ url_for('static', filename='kyle_main.js') }}"></script>

{% endblock %}