{% extends "skeleton.html" %}

{% block title %} Accounts{% endblock %}

{% block head %}
<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  </style>
{% endblock %}

{%block header%}
    Accounts
{%endblock%}

{% block Sign %}
  {%if user == 1%}
    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
  {%else%}
    {{super()}}
  {%endif%}
{% endblock %}

{% block body %}

  <section class="container">
    <div class="row">
      <button class="btn btn-primary tablinks" onclick="changeTab(event, 'main')">Main</button>
      <button class="btn btn-primary tablinks" onclick="changeTab(event, 'history')">History</button>
    </div>
    <hr>
  </section>

	<section class="container" >
    <div class="tabcontent" id="main">

      <h1 style="text-align:center">Debit Balance</h1>
      {% set id = 1%}
      <h5 style="text-align:center"id="{{id}}">$
        {% for row in debit %}
          {{row[1]}}
        {% endfor %}
      </h5>


      <div class = "row text-center" id="startTransfer">
        <button class="btn btn-primary" id="myBtn">Make Transfer</button>
      </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" style="text-align:right;">&times;</span>
          <section class="container" id="payment">
            <form style="text-align: center">
              <!--The Paying Account-->
              <div class="row">
                <figure class="col-sm-4">
                  <label for="payAccount">Account</label>
                </figure>
                <figure class="col-sm-4">
                  <label for="balance">Balance</label>
                </figure>
              </div>
              <div class="row">
                <figure class="col-sm-4">
                  <select class="payAccount" name="payAccount">
                    {%for row in source%}
                      <option value="{{row[1]}}">{{row[0]}}</option>
                    {%endfor%}
                  </select>
                </figure>
                <figure class="col-sm-4">
                  <input style="text-align: right" type="text" id="balance" name="balance"  value="$0" disabled="disabled">
                </figure>
              </div>
              <!--The Destination Account-->
              <div class="row">
                <figure class="col-sm-4">
                  <label for="payCredit">Credit Card ID</label>
                </figure>
                <figure class="col-sm-4">
                  <label for="debt">Debt</label>
                </figure>
              </div>
              <div class="row">
                <figure class="col-sm-4">
                  <input type="text" class="form-control" id="dest" placeholder="Destination Account" name="dest" required>
                </figure>
                <figure class="col-sm-4">
                  <input style="text-align: right" type="text" id="debt" name="debt" value="$2000" disabled="disabled">
                </figure>
              </div>
              <!--The Resulting Balance-->
              <div class="row">
                <figure class="col-sm-4">
                  <label for="payAmount">Transfer Amount</label>
                </figure>
                <figure class="col-sm-4">
                  <label for="resultDebt">Destination Balance</label>
                </figure>
                <figure class="col-sm-4">
                  <label for="resultBal">Source Balance</label>
                </figure>
              </div>
              <div class="row">
                <figure class="col-sm-4">
                  <input style="text-align: right" type="text" id="payAmount" name="payAmount" value="$2000" disabled="disabled">
                </figure>
                <figure class="col-sm-4">
                  <input style="text-align: right" type="text" id="resultDebt" name="resultDebt" value="$0" disabled="disabled">
                </figure>
                <figure class="col-sm-4">
                  <input style="text-align: right" type="text" id="resultBal" name="resultBal" value="$0" disabled="disabled">
                </figure>
              </div>
              <div class="row">
                <figure class="col-sm-4">
                  <button class="btn btn-primary" id="btnDismissPay">Dismiss</button>
                </figure>
                <figure class="col-sm-4">
                  <input class="btn btn-primary" id ="btnConfirmPay" type="submit" value="Confirm">
                </figure>
              </div>
            </form>
        </section>
        </div>
      </div>
      
      <hr>

      <h1 style="text-align:center">Your Cards</h1>
      <table>
        <tr>
          <td>
            
          </td>
        </tr>
        {% for row in credit %}
          <tr>
        {% for c in row %}
          <td>{{ c }}</td>
        {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br>

      <hr>

      <h1 style="text-align:center">Your Savings Accounts</h1>
      <table>
        {% for row in savings %}
          <tr>
        {% for s in row %}
            <td>{{ s }}</td>
        {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br>

      <hr>
    </div>
  </section>

  <section class="container">
    <div class="tabcontent" id="history" style="display:none">
      <h1 style="text-align:center">Transaction History</h1>

      <table>
        {% for row in hist %}
          <tr>
        {% for h in row %}
        {% if h != 0 %}
            <td>{{ h }}</td>
        {% endif %}
        {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br>
    </div>
  </section>

  <!--External JavaScript-->
  <script type="text/javascript" src="{{ url_for('static', filename='kyle_main.js') }}"></script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

{% endblock %}