{% extends "skeleton.html" %}

{% block title %} Accounts{% endblock %}

{% block head %}{% endblock %}

{% block body %}

  <section class="container">
    <div class="row">
      <button class="btn btn-primary tablinks" onclick="changeTab(event, 'main')">Main</button>
      <button class="btn btn-primary tablinks" onclick="changeTab(event, 'history')">History</button>
    </div>
  </section>

	<section class="container" >
    <div class="tabcontent" id="main">

      <h1 style="text-align:center">Debit Balance</h1>
      <h5 style="text-align:center">$2000</h5>

      <hr>

      <div class = "row text-center" id="startTransfer">
        <button class="btn btn-primary" id="btnTransfer">Make Transfer</button>
      </div>

      <h1 style="text-align:center">Your Cards</h1>
      <table>
        <tr>
          <th>Card ID</th>
          <th>Card Type</th>
          <th>Card Balance</th>
        </tr>
        <tr>
          <td>0001</td>
          <td>Business</td>
          <td id="cc1_bal">$0</td>
        </tr>
        <tr>
          <td>0002</td>
          <td>Travel</td>
          <td id="cc2_bal">$100</td>
        </tr>
        <tr>
          <td>0003</td>
          <td>Travel</td>
          <td id="cc3_bal">$20</td>
        </tr>
        <tr>
          <td>0004</td>
          <td>Business</td>
          <td id="cc4_bal">$1000</td>
        </tr>
      </table>
      <br>

      <hr>

      <h1 style="text-align:center">Your Savings Accounts</h1>
      <table>
        <tr>
          <th>Card ID</th>
          <th>Card Type</th>
          <th>Card Balance</th>
        </tr>
        <tr>
          <td>0001</td>
          <td>Business</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0002</td>
          <td>Travel</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>0003</td>
          <td>Travel</td>
          <td>$20</td>
        </tr>
        <tr>
          <td>0004</td>
          <td>Business</td>
          <td>$1000</td>
        </tr>
      </table>
      <br>

      <hr>
    </div>
  </section>

  <section class="container">
    <div class="tabcontent" id="history" style="display:none">
      <h1 style="text-align:center">Transaction History</h1>

      <table>
        <tr>
          <th>Card ID</th>
          <th>Card Type</th>
          <th>Card Balance</th>
        </tr>
        <tr>
          <td>0001</td>
          <td>Business</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0002</td>
          <td>Travel</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>0003</td>
          <td>Travel</td>
          <td>$20</td>
        </tr>
        <tr>
          <td>0004</td>
          <td>Business</td>
          <td>$1000</td>
        </tr>
      </table>
      <br>
    </div>
  </section>

  <!--External JavaScript-->
  <script type="text/javascript" src="{{ url_for('static', filename='kyle_main.js') }}"></script>

{% endblock %}