{% extends "skeleton.html" %}
<!--Put your page Title Here-->
{% block title %}
    Home
{% endblock %}

{%block header%}
    Home
{%endblock%}

{% block head %}
<!--Put any head things that are only used on this page here-->
{% endblock %}

{% block body %}
<!--Put all your body stuff here, not including navbar or footnotes-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape" />
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </div>
</div>

<div class="lightbox">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
                 data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
                 alt="Table Full of Spices"
                 class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
                 data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
                 alt="Coconut with Strawberries"
                 class="w-100 shadow-1-strong rounded" />
        </div>
        <div class="col-lg-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
                 data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
                 alt="Dark Roast Iced Coffee"
                 class="w-100 shadow-1-strong rounded" />
        </div>
    </div>
</div>




<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{url_for('static',filename='Images/HappyPeople.jpg')}}" class="img-fluid" style="width:200px;height:250px" />
        <a href="#!">
            <div class="mask" style="background-color:rebeccapurple;"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title card-text-center">Start Online Banking</h5>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 data-masonry='{" percentPosition": true }'">
    <div class="col">
        <div class="card">
            <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/freedom_unlimited_card.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/ink_unlimited_card.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/swa_plus_card.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row " style="background-color:rebeccapurple;">
        <h1 style="color:white;">Enjoy $200</h1>
        <h2 style="color:white;">New Hill Checking Customers</h2>
        <h3 style="color:white;">Open a Hill Checking account and transfer funds between accounts.</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <h1 style="color:rebeccapurple;">Find a Credit Card</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-color: lightgrey;">
        <h1>Convenient Access with Online Banking</h1>
    </div>
</div>

{% endblock %}