{% extends "skeleton.html" %}
<!--Put your page Title Here-->
{% block title %} 
    Sign In 
{% endblock %}

{% block head %}
<!--Put any head things that are only used on this page here-->

{% endblock %}

{% block body %}
<!--Put all your body stuff here, not including navbar or footnotes-->
<div class="container">
  <form action="/action_page.php" class="was-validated">
    <div class="row">
      <div class="col-4"></div>

      <div class="col-4">
        <div class="mb-3 mt-3">
          <label for="uname" class="form-label">Username:</label>
          <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>

      <div class="col-4"></div>
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary","centered">Submit</button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>
{% endblock %}