<!DOCTYPE html>
<html>
<head>
	<!--External Stylesheets--> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="C:\Users\kyle0\Desktop\Website\KyleWebsite\static\kyle_main.css"/>
    
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
</head>
<body>
    
	<section class="jumbotron">
        <div class="container">
          <div class="row text-center">
            <h2>
              Bank of Hill
            </h2>
            <h3>
              Modal
            </h3>
          </div>
        </div>
      </section>

    <div class="container-fluid" style="background-color: white;">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='Images/BoHLogo.png')}}" width="250" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('accounts') }}">Checkings & Savings <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cards') }}">Credit Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Sign-In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
<section class="container"><!-- Trigger/Open The Modal -->
    <div class = "row text-center" id="startTransfer">
        <button class="btn btn-primary" id="myBtn">Make Transfer</button>
      </div>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
    
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>
    
    </div></section>
<h2>Modal Example</h2>



<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<section class="container">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Accesible Banking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Security</a>
          </li>
        </ul>
      </div>
      <div class="col-1">
      </div>
      </div>
  </section>

  <div class="container-fluid" style="background-color: rebeccapurple; ">
    <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <p style="text-align: center; color:#F06529;">
          Bank of Hill is not federally insured by NCUA Equal Housing Lender Equal Opportunity Employer
          Hill conducts all member business in English. All origination, servicing, collections and marketing
          materials are provided in English only. As a service to members, we will attempt to assist members who
          have limited English proficiency where possible. All images used for representational purposes only; do
          not imply any endorsements. Terms and conditions are applied to gift cards. <br><br>
      </p>
    </div>
    <div class="col-1">
    </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: rebeccapurple;">
    <div class="row">
      <p style="text-align: center; color:#F06529;">
          APY = Annual Percentage Yield, APR = Annual Percentage Rate <br>
          +Rates are based on an evaluation of credit history, so your rate may differ. <br>
          *Message and data rates may apply. Terms and Conditions are available. <br>
          ♦Terms and conditions are applied to gift cards.
      </p>
    </div>
  </div>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>