<!DOCTYPE html>
<html>
  <head>
	<title>Bank of Hill | {% block title %}{% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!--External Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='kyle_main.css') }}"/>
    {% block head %}{% endblock %}
  </head>
  <body>
	<section class="jumbotron">
      <div class="container">
        <div class="row text-center">
          <h2>
            Bank of Hill
          </h2>
          <h3>
            Credit Cards
          </h3>
        </div>
      </div>
    </section>
	
	<nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bank of Hill</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Homepage</a></li>
          <li><a href="#">Account Name</a></li>
        </ul>
      </div>
    </nav>

    {% block body %}{% endblock %}
    
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </body>
</html>