{% extends "skeleton.html" %}
<!--Put your page Title Here-->
{% block title %} 
  Credit Cards 
{% endblock %}

{% block head %}
<!--Put any head things that are only used on this page here-->

{% endblock %}

{%block header%}
    Credit Cards
{%endblock%}

{% block Sign %}
  {%if user == 1%}
    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
  {%else%}
    {{super()}}
  {%endif%}
{% endblock %}

{% block body %}
<!--Put all your body stuff here, not including navbar or footnotes-->
<h1 style="text-align:center">Bank of Hill's Best Cards</h1>
	<section class="container">
      <div class="row">
        <figure class="col-sm-4">
          <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/freedom_unlimited_card.png">
		  
        </figure>
        <figure class="col-sm-4">
          <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/ink_unlimited_card.png">
        </figure>
        <figure class="col-sm-4">
          <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/swa_plus_card.png">
        </figure>
      </div>
	  
      <div class="row">
          <figure class="col-sm-4">
              <p style="text-align:center">Rewards Card</p>
              <p style="text-align:center">Annual Fee: $5</p>
              <p style="text-align:center">APR: 7.00% - 15.00%</p>
          </figure>
        <figure class="col-sm-4">
		  <p style="text-align:center">Business Card</p>
          <p style="text-align:center">Annual Fee: $20</p>
          <p style="text-align:center">APR: 7.00% - 15.00%</p>
        </figure>
        <figure class="col-sm-4">
            <p style="text-align:center">Travel Card</p>
            <p style="text-align:center">Annual Fee: $10</p>
            <p style="text-align:center">APR: 7.00% - 15.00%</p>

        </figure>
      </div>
	  
	  <div class="row">
        <figure class="col-sm-4">
		  <div class = "row text-center">
        <form method="POST">
          <button type="submit" class="btn btn-primary" style="text-align:center">Add Card</button>
        </form>
		  </div>
        </figure>
        <figure class="col-sm-4">
		  <div class = "row text-center">
        <form method="POST">
          <button type="submit" class="btn btn-primary" style="text-align:center">Add Card</button>
        </form>
		  </div>
        </figure>
        <figure class="col-sm-4">
		  <div class = "row text-center">
        <form method="POST">
          <button type="submit" class="btn btn-primary" style="text-align:center">Add Card</button>
        </form>
		  </div>
        </figure>
      </div>
      <hr>
	  </section>

	  <h1 style="text-align:center">Bank of Hill's Worst Cards</h1>
	  <section class="container">
      <div class="row">
        <figure class="col-sm-4">
          <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/freedom_unlimited_card.png">
		  
        </figure>
        <figure class="col-sm-4">
          <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/ink_unlimited_card.png">
        </figure>
        <figure class="col-sm-4">
          <img src="https://creditcards.chase.com/K-Marketplace/images/cardart/swa_plus_card.png">
        </figure>
      </div>
	  
      <div class="row">
          <figure class="col-sm-4">
              <p style="text-align:center">Rewards Card</p>
              <p style="text-align:center">Annual Fee: $10</p>
              <p style="text-align:center">APR: 14.90% - 18.00%</p>
          </figure>
          <figure class="col-sm-4">
              <p style="text-align:center">Business Card</p>
              <p style="text-align:center">Annual Fee: $20</p>
              <p style="text-align:center">APR: 12.90% - 18.00%</p>

          </figure>
          <figure class="col-sm-4">
              <p style="text-align:center">Travel Card</p>
              <p style="text-align:center">Annual Fee: $15</p>
              <p style="text-align:center">APR: 18.00%</p>

          </figure>
      </div>
	  <div class="row">
        <figure class="col-sm-4">
		  <div class = "row text-center">
        <form method="POST">
          <button type="submit" class="btn btn-primary" style="text-align:center">Add Card</button>
        </form>
		  </div>
        </figure>
        <figure class="col-sm-4">
          <div class="row text-center">
            <form method="POST">
              <button type="submit" class="btn btn-primary" style="text-align:center">Add Card</button>
            </form>
          </div>
        </figure>
        <figure class="col-sm-4">
		  <div class = "row text-center">
        <form method="POST">
          <button type="submit" class="btn btn-primary" style="text-align:center">Add Card</button>
        </form>
		  </div>
        </figure>
      </div>
	  <hr>
{% endblock %}