cur.execute(''' INSERT INTO users(Username, Password) VALUES(%s,%s)''',(values))

        mysql.connection.commit()
        cur.close()

cur.execute("INSERT INTO users(Username, Password) VALUES(%s, %s)")

{% extends "skeleton.html" %}
<!--Put your page Title Here-->
{% block title %} 
    Home 
{% endblock %}

{% block head %}
<!--Put any head things that are only used on this page here-->

{% endblock %}

{% block body %}
<!--Put all your body stuff here, not including navbar or footnotes-->

{% endblock %}